<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.mybatis">
    <resultMap id="userResult" type="User">
		<id property="id" column="id" />
		<result property="name" column="name"/>
		<result property="pwd" column="pwd"/>
	</resultMap>
  <select id="selectAll" resultType="User" parameterType="string" resultMap="userResult" >
    select * from t_user where name = #{name}
  </select>
</mapper>